* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
};

body {
   -webkit-font-smoothing: antialiased;
}

body, input, button {
   font-family: Roboto, Arial, Helvetica, sans-serif;
   border: none
};

button {
   cursor: pointer;
   pointer-events: none;
}